{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "eslintIntegration": true,
  "htmlWhitespaceSensitivity": "css",
  "ignorePath": ".prettierignore",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "parser": "typescript",
  "printWidth": 80,
  "proseWrap": "preserve",
  "requireConfig": true,
  "semi": true,
  "singleQuote": false,
  "stylelintIntegration": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
